*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
    font-family: sans-serif;
}


.top{
    display: flex;

    height: 90vh;
}

aside{
    width: 230px;
    background-color: black;
}

main{
    flex-grow: 1;
    height: 100%;
    overflow: auto  ;
    background-color: #151922;

}

main .banner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;

    position: fixed;
    top: 0;
    right: 0;

    width: calc(100% - 230px);
    height: 90px;

    text-align: right;

    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner .upgrade{
    padding: 15px 40px;
    border: 1px solid white;
    border-radius: 2em;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

.upgrade:hover{
    transform: scale(1.1);
}


.container-big{
    padding: 90px 20px 20px;
}

.container-big .filter-list{
    
    display: flex;
    justify-content: center;
    gap: 24px;

    list-style-type: none;

    width: 100%;

    padding: 22px;
    
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.container-small{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.container-small .card{
    width: calc(100% / 6 - 16px / 6 * 5);
    aspect-ratio: 1/1;
    background-color: green;
    border: 1px black dashed;
}

.card img{
    height: 100%;
}

.player{
    background-color: #282828;
    height: 10vh;
}



/******************************* 
             Query mid
********************************/
@media screen and (max-width: 879px){

    .container-small .card{
        width: calc(100% / 4 - 16px / 4 * 3);
    }
}



/******************************* 
             Query small
********************************/
@media screen and (max-width: 639px){

    .container-small .card{
        width: calc(100% / 2 - 16px / 2);
    }
}
